</div>
    </main>
  </div>
  
  <script>
    // User menu functionality
    function toggleUserMenu() {
      // Simple logout for now
      if (confirm('Logout?')) {
        window.location.href = '/logout';
      }
    }
  </script>
</body>
</html>
